<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>

  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200" rel="stylesheet" type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,700' rel='stylesheet' type='text/css'>
  <link href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' rel='stylesheet' type='text/css' id='jqueryui-stylesheet'>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="" id='darkmode-stylesheet'>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="/js/home.js"></script>
  <script src="/js/themes.js"></script>

  <title>e l e c t r o n</title>
</head>

<body>
  <button onclick="toggleTheme()" id="theme-toggler">Toggle Theme</button>

  <h1 class="electron-title">electron</h1>
  <div style="width: 100%; text-align: center;">
    <div id="mode-selector-container">
      <div id="join-session" class="mode-selector-box">
        <div>
          <h1>Join Session</h1>
          <p>Join an existing session created by a driver using the Session ID provided by them.</p>
          <div class="form-row">
            <input type="text" id="session-id" maxlength="10" placeholder="Session ID" onkeyup="resetWarning();">
          </div>
        </div>
        <p id="join-session-warning-text" style="display:none">That session does not exist!</p>
        <div class="home-btn-wrapper">
          <button class="home-btn" onclick="checkSessionID($('#session-id').val())">Join Session</button>
        </div>
      </div>

      <div id="new-session" class="mode-selector-box">
        <div>
          <h1>Create Session</h1>
          <p>Create a new session where you are the driver and other people can join as riders, or a session driven automatically by an AI.</p>
        </div>
        <div class="home-btn-wrapper">
          <button class="home-btn" onclick="window.location='/config-automated-driver/'">Create Automated Session</button>
          <button class="home-btn" onclick="window.location='/player/drive/' + generateSessionId()">Create Normal Session</button>
        </div>
      </div>

      <div id="solo-session" class="mode-selector-box">
        <div>
          <h1>Solo Mode</h1>
          <p>Use the electron waveform generator playing on your own, without driving or being driven.</p>
        </div>
        <div class="home-btn-wrapper">
          <button class="home-btn" onclick="window.location='/player/play/solo/'">Play Solo</button>
        </div>
      </div>
    </div>

    <div id="faq" class="footnotes">
      <h2 style="cursor:pointer;" onclick="document.getElementById('faq-content').style.maxHeight='2000px'">Frequently Asked Questions <span>(please read if you are new here!)</span></h2>
      <div style="max-height: 0; overflow: hidden; transition: max-height 500ms ease-in-out;" id="faq-content">
        <br>
        <ol>
          <li>
            <strong>What is Electron exactly?</strong>
            <p>
              Electron is a web application designed to be an easy to setup
              and easy to use solution for on-demand solo or remote e-stim.
            </p>
          </li>
          <li>
            <strong>How do I use it for remote e-stim?</strong>
            <p>
              The driver should first open Electron and click the "Create Session" button. This will take them to
              the driving page which will include a link that they can share with riders. Any number of riders can 
              join a session, however there can only be one driver. Once you have a session link, paste it into 
              your browser. This will take you to the player page. Once you are ready to ride, click the button at
              the top of the page to start audio output.
            </p>
          </li>
          <li>
            <strong>I keep getting an error when trying to join a session. What do I do?</strong>
            <p>
              Make sure you're using the correct instance. There are 3 primary public instances and likely even more 
              that aren't well-known. For electron to work, the driver and riders have to be using the same instance.
              For example, if the driver is using <a href="#">electron-estim.com</a>, everyone trying to join that 
              session has to also use <a href="#">electron-estim.com</a>
            </p>
          </li>
          <li>
            <strong>I am being rejected as a driver! What do I do?</strong>
            <p>
              You are probably trying to drive a session someone else is driving. Or perhaps you
              simply refreshed the page while driving someone. If you do that <strong>you will lose
              control of the session forever</strong>. electron is a stateless application, which
              means we do not track who's doing what. If you close a session you were driving and open
              it again or even refresh the page you will lose control of the session. The good part
              is that you can easily create a new one and make people join again!
            </p>
          </li>
          <li>
            <strong>How do A.M. and F.M. work for stim signals?</strong>
            <p>
              Basically it means the signal's volume (A.M.) or frequency (F.M.) will be altered following the
              shape of another wave. A quick example: If you have your volume set to 50%, A.M. Type set to Sine, 
              A.M. Depth to 10%, and A.M. Frequency to 3Hz, the signal will oscillate between 60% (50%+10%) and
              40% (50%-10%) volume three times per second (3Hz) following a sine wave's shape (i.e. smoothly).
            </p>
          </li>
          <li>
            <strong>Does it work on mobile devices?</strong>
            <p>
              I have only run a few quick tests but it would seem the answer is yes! Riding, driving, and Solo Play
              appear to be fully functional using Google Chrome or Firefox on the latest version of Android.
              Other browsers or devices are likely no different. 
            </p>
          </li>
          <li>
            <strong>I found a bug! Where can I report it?</strong>
            <p>
              The best place to report bugs in Electron is on the GitHub issues page which can be found 
              <a href="https://github.com/fallenangel42/electron/issues">here.</a> I can also be found 
              on Discord in <a href="https://discord.gg/9BGtaHRtMM">Joanne's E-Stim Community</a>, 
              <a href="https://discord.gg/UqRucu7">Open Estim Chat</a>, or 
              <a href="https://discord.gg/VXYYduDX4T">eStimStation</a>
            </p>
          </li>
          <li>
            <strong>Is Electron open source?</strong>
            <p>
              Yes! Electron is distributed under the MIT License which basically that means you can do whatever you
              want with the software, however that no warranty of any kind is given so the author shall not be
              liable for any damages arising from the use of the software.
              <br>The source code is available on GitHub here: <a href="https://github.com/fallenangel42/electron" target="_blank">https://github.com/fallenangel42/electron</a>
            </p>
          </li>
        </ol>
        <button class="home-btn" style="margin-bottom: 10px;" onclick="document.getElementById('faq-content').style.maxHeight='0'">Click here to close the FAQ</button>
      </div>
    </div>

    <div class="footnotes" style="display:none;">
      <h2>Example Footnotes</h2>
      <p>This is an example of what footnotes could look like in code. By removing the <a href="#">display:none;</a> attribute, you can add whatever you need to and it will be styled cohesively with the rest of electron.</p>
      <p>You can add as many as you need by copying and pasting this div below this one.</p>
    </div>

  </div>
</body>

</html>